/* reset */
body {
  margin: 0;
  padding: 0;
  background-color: #222222;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* components */
.movie-section {
  width: 890px;
  margin: 100px auto;
  background-color: #111111;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  padding-bottom: 20px;
}

.cover {
  background: linear-gradient(to top, #111 10%, transparent 50%), url("./images/cover.png") no-repeat center;
  background-size: contain;
  height: 500px;
  grid-column: 1 / span 4;
}

.left {
  grid-column: 1 / span 3;
  padding: 30px;
  margin-top: -110px;
}

.right {
  grid-column: 4 / 5;
  margin-top: -110px;
  padding: 40px 20px 0 0;
}

.movie-tit {
  color: #fff;
  font-size: 60px;
  margin: 0 0 30px;
}

.movie-tit::before {
  content: "N E W";
  display: block;
  width: 50px;
  color: #fff;
  background-color: #FF4500;
  font-size: 8px;
  border-radius: 2px;
  padding: 2px;
  text-align: center;
  box-shadow: 0 3px 0 2px #b13001;
  margin-bottom: 5px;
}

.movie-section p {
  color: #9b9b9a;
  font-size: 12px;
  line-height: 1.7;
}

.genre,
.rating {
  margin-bottom: 60px;
}

.genre-tit,
.rating-tit,
.cast-tit {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.genre ul li {
  display: inline-block;
  background-color: #222222;
  color: #bdbdbb;
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 8px;
  margin-bottom: 3px;
  text-align: center;
}

.rating .rating-star {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url("./images/star.png") no-repeat;
  background-size: 150px;
}

.rating-star:nth-of-type(1),
.rating-star:nth-of-type(2),
.rating-star:nth-of-type(3) {
  background-position: -1px -30px;
}

.rating .rating-star:nth-child(4)
.rating .rating-star:last-child {
  background-position: -51px -3px;
}

.cast img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #111;
}

.cast img + img {
  margin-left: -10px;
}

@media screen and (max-width: 1000px) {
  .movie-section {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-width: 500px;
    /* padding: 50px; */
    box-sizing: border-box;
    margin: 50px auto;
  }

  .movie-section p {
    font-size: 11px;
  }

  .cover {
    background: linear-gradient(to top, #111 35%, transparent 50%), url("./images/cover.png") no-repeat center;
    background-size: contain;
    background-position: center top;
    height: 500px;
  }

  .movie-tit {
    font-size: 40px;
  }

  .left {
    padding: 30px;
    margin-top: -250px;
  }

  .right {
    margin-top: -50px;
    padding: 30px;
  }

  .genre-tit,
  .rating-tit,
  .cast-tit {
    font-size: 13px;
  }

  .genre {
    width: 200px;
  }

  .genre ul li {
    font-size: 11px;
  }

  .genre,
  .rating {
    margin-bottom: 40px;
  }
}